.cartDetails {
    text-align: justify;
    margin-top: 20px;
    margin-left: 17px;
    padding: 17px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 7px 3px 2px 2px lightslategrey;
  }
  